.console {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-height: 500px;
    width: 30%;
    background-color: #f8f9fa;
    border: 1px solid #d1d3e2;
    overflow-y: auto;
}

.console .console-top{
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    padding: 10px 10px 0;
}

.console span {
    margin: 0;
    line-height: 1.5em;
    padding: 0 10px 10px;
}
